.calendar-container {
  background: #fff;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  display: none;
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 11;
}
.visible_calendar {
  display: block;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation span {
  width: 38px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-current-date {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16.88px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: rgb(232, 2, 2);
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.calendar-weekdays li {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 9.84px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
}

.calendar-dates li {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 9.84px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
}

header .calendar-current-date {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16.88px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}





@media only screen and (max-width: 500px) {
  .calendar-container {
    bottom: 0;
    top: auto;
  }
}