@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}

.container {
  width: 1720px;
  margin: 0 auto;
  position: relative;
}

.load_more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 0;
}
.load_more_btn button {
  border-radius: 8.33px;
  width: 232.5px;
  height: 45px;
  background: rgb(255, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

/* footer */
footer {
  background: rgb(37, 37, 37);
  padding: 10px 0;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer_menu {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.footer_menu p {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.4s ease;
}
.footer_menu p:hover {
  transition: all 0.4s ease;
  text-decoration: underline;
}

.footer_menu div a:nth-child(1) p {
  margin-bottom: 12px;
}

.text_hover:hover {
  text-decoration: underline;
}

.icon_hover {
  transition: all 0.4s ease;
}
.icon_hover:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}
.wallpaper_right_text p {
  max-width: 609px;
  color: rgb(255, 255, 255);
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

.wallpaper_right {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 1800px) {
  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .wallpaper_logo img {
    width: 170px;
  }
  .wallpaper_right_text p {
    max-width: 500px;

    font-size: 20px;
  }


  .footer_menu {
    gap: 10px;
  }

  .load_more_btn button {
    width: 148.8px;
    height: 28.8px;
    font-size: 12.8px;
    font-weight: 600;
    line-height: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .footer_wrapper {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .footer_menu {
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .wallpaper_logo img {
    width: 120px;
  }
  .wallpaper_right_text p {
    max-width: 166px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

}
