@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}

.container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.load_more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 0;
}
.load_more_btn button {
  border-radius: 8.33px;
  width: 232.5px;
  height: 45px;
  background: rgb(255, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
