.modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  display: none;
}

.modal_container {
  padding: 66px;
  width: 70%;
  border-radius: 16.67px;
  position: relative;
  box-shadow: 0px 0px 33.33px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  transition: all 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
}
.modal_container .video_player {
  width: 100%;
  height: 100%;
}
.exit_modal_btn {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
}

.visible_modal {
  display: flex;
}

.visible_modal .modal_container {
  transition: all 0.4s ease;
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .modal_container {
    width: 92%;
    padding: 20px;
  }
  .exit_modal_btn img {
    width: 33px;
    height: 33px;
  }
  .exit_modal_btn {
    right: -10px;
    top: -15px;
  }
  .modal_title h3 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .socials_icons {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .social_icons_list_block {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .editing_actions_list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .file_renaming input {
    width: 100%;
  }
  .file_renaming {
    width: 100%;
  }
  .save_changes_btn {
    width: 100%;
  }
  .file_renaming input::placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 234px;
  }
  .agreement_modal .modal_title h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .file_edit_container {
    flex-direction: column;
    align-items: center;
  }
  .editing_photo img {
    width: 100%;
    height: auto;
  }
  .upload_desc .save_btn {
    margin-top: 40px;
  }
  .editing_actions_list {
    margin-top: 20px;
  }
  .remove_btn {
    margin: 0 auto;
    margin-top: 20px;
  }
  .file_edit_block {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .modal_wrapper {
    overflow-y: auto;
   
    padding: 20px 0;
  }
  #photo_edit_modal {
    height: 100%;
  }
}
